
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    Hola Razor
    <div>   
        <!-- Este es un comentario HTML y aparece en el contenido enviado al cliente -->
        @* Este texto es un comentario de código y no debe ser generado por el motor de vista razor *@

        @{ 
            double precio = 2;
            <span>Precio incluyendo impuestos: @(precio * 1.16)</span>
        }

        @{ 
// Razor interpreta el contenido de este bloque como
// código del servidor
        }

        @if (precio < 10)
        {
            precio = precio * 2;
        }else
        {
            precio = precio * 1.5;
        }
        <br />
        Nuevo precio: @precio
        <br />

        @foreach (var item in ViewBag.dias)
        {
            <div>@item</div>
        }
    </div>

</body>
</html>
